.myNavbar{
    position: sticky;
    top:0;
    z-index:2;
    transition: background-color 0.2s linear;
    
}
.myNavbar.solid {
    background-color:var(--navbarWhite);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigationMobile{
    position:sticky;
    bottom:0;
    z-index:2;
    background-color:var(--navbarWhite);
}

.navIcon,.navIcon span{
    color:black!important;
    display:block;
    text-align:center;
}

.myNavbar h1{
    padding:22px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    white-space:nowrap;
    margin-bottom:unset;
}
.myNavbar h1 a { color:white;}
.myNavbar.solid h1 a { color: black;}

.navIcon span{
    font-size: .75rem;
}
.navIcon svg{font-size:22px;}

@media (max-width: 767.98px) {
    .myNavbar{max-height:45px; background-color:var(--navbarWhite); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
    .myNavbar h1 a { color:black!important; }
    .myNavbar h1 {padding:7px 0px;}
}