
.cls-1 {
    fill: #d5d5d5;
}

.cls-2 {
    fill: #d25656;
}

.cls-3 {
    fill: #d8d12f;
}

.cls-4 {
    fill: #56d26a;
}

.cls-5 {
    fill: #ededed;
}

.multi-cls-1 {
    fill: #d5d5d5;
}
    
.multi-cls-2 {
    fill: #d25656;
}
    
.multi-cls-3 {
    fill: #d8d12f;
}
    
.multi-cls-4 {
    fill: #56d26a;
}
    
.multi-cls-5 {
    fill: #ededed;
}
    
.multi-cls-6 {
    fill: #dedede;
}

.projectHead{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.project-graphic-wrapper{
    width: 100%;
    position: relative;
}
.project-graphic-wrapper img{
    box-shadow: 3px 3px 6px #0000006e;
}